<section>
    <header>
            <h1>Skills y habilidades</h1>
        </header>

<fieldset>


           
                <p>Hablo 2 idiomas: Español(lengua principal) y Ingles(avanzado)</p>
            
                <p>Se sobre programacion (JavaScript, HTML, Boostrap, CSS)</p>
            
                <p>Tengo habilidades para la comunicacion</p>
            
                <p>Tengo conocimientos sobre instalacion de red de internet</p>
            

           
    
</fieldset>
</section>
